In [5]:
import pandas as pd
from plotnine import *
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

# Load data

In [11]:
from plotnine.data import mtcars

# load mtcars and add "dataset" column
mtcars = mtcars\
    .assign(dataset='mtcars')

# display two rows of both dataframes
display(mtcars.head(2))

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,dataset
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4,mtcars
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4,mtcars

In [15]:
train, test = train_test_split(mtcars, train_size=0.75)
display(test)
display(train)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,dataset
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,mtcars
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,mtcars
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,mtcars
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,mtcars
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,mtcars
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,mtcars
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,mtcars
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,mtcars

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,dataset
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,mtcars
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,mtcars
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,mtcars
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,mtcars
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,mtcars
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,mtcars
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,mtcars
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,mtcars
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,mtcars
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,mtcars
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,mtcars
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,mtcars
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,mtcars
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,mtcars
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,mtcars
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,mtcars
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,mtcars
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,mtcars
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,mtcars
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,mtcars
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,mtcars
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,mtcars
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,mtcars
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,mtcars

# Training a model

Here is a cell with a linear regression trained on `mtcars`. You may recall that `mpg ~ wt + disp` was a fairly good model to explain the variance in fuel efficiency.

In [ ]:
import statsmodels.formula.api as smf

model = smf.ols("mpg ~ wt + hp", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
mtcars['predicted_mpg'] = results.predict()

# Note: these are both the same thing...you can use either
mtcars['residuals_mpg'] = mtcars['mpg'] - mtcars['predicted_mpg']
mtcars['residuals_mpg'] = results.resid

print("Let's take a look at the residuals!")
print(f"Residuals -- mean:{mtcars.residuals_mpg.mean().round(1)} std:{mtcars.residuals_mpg.std().round(1)}")

# Look at residuals in terms of standard deviations
mtcars['residuals_z_score'] = (mtcars.residuals_mpg - mtcars.residuals_mpg.mean()) / mtcars.residuals_mpg.std()

mtcars.sort_values(by='residuals_mpg')

# Testing a model

This model is trained on `mtcars` but we're testing it on mtcars2!

In [ ]:
mtcars2['predicted_mpg'] = results.predict(mtcars2)
mtcars2['residuals_mpg'] = mtcars2.mpg - mtcars2.predicted_mpg 
mtcars2['residuals_z_score'] = (mtcars2.residuals_mpg - mtcars2.residuals_mpg.mean()) / mtcars2.residuals_mpg.std()

mtcars2.sort_values(by='residuals_z_score')

# Load another dataset

In [ ]:

# load mtcars2 and add "dataset" column
mtcars2 = pd.read_csv('https://raw.githubusercontent.com/cocteau/CJ2022/main/data/mtcars2.csv')\
    .assign(dataset='mtcars2')

# update column names of mtcars2 to be the same as mtcars
mtcars2 = mtcars2.rename(columns={'Automobile': 'name', 
                        'MPG': 'mpg', 
                        'CYL': 'cyl',
                        'HP': 'hp',
                        'WT': 'wt',
                        'DISP': 'disp',
                        'DRAT': 'drat',
                        'ACCEL': 'qsec',
                        'ENGTYPE': 'am',
                       }).drop(columns='Code')

display(mtcars2.head(2)) # looks like mtcars2 doesn't have "gear", "carb", or "vs"

# Exploratory Data Analysis

In [ ]:
to_plot = pd.concat([mtcars, mtcars2])\
    .drop(columns=['vs','gear','carb', 'residuals_mpg', 'residuals_z_score','predicted_mpg'])\
    .melt(id_vars=['name','mpg', 'dataset'])

(
    ggplot(to_plot, aes(x='value', y='mpg', color='dataset')) +
        geom_point() +
        facet_grid('dataset~variable', scales='free_x') + 
        theme(figure_size=(16,4))
)

In [ ]:
# correlation matrix of mtcars
mtcars.corr().round(1)

In [ ]:
# some plots with fuel efficiency as the dependent variable
# you can modify or copy/paste this as needed if you want
# to observe relationships in these variables visually
to_plot = mtcars.melt(id_vars=['name','mpg'])

In [ ]:
(
    ggplot(to_plot, aes(x='value', y='mpg')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
# Empty cells below for any additional exploratory data viz you'd like to do.

In [ ]:
mtcars.head(2)

In [ ]:
wt_plot = mtcars.melt(id_vars=['name','wt'])

In [ ]:
(
    ggplot(wt_plot, aes(x='value', y='wt')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
disp_plot = mtcars.melt(id_vars=['disp','mpg'])

In [ ]:
(
    ggplot(disp_plot, aes(x='value', y='mpg')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
hp_plot = mtcars.melt(id_vars=['name','hp'])

In [ ]:
(
    ggplot(hp_plot, aes(x='value', y='hp')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
qsec_plot = mtcars.melt(id_vars=['qsec','mpg'])

In [ ]:
(
    ggplot(qsec_plot, aes(x='value', y='mpg')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
q_plot = mtcars.melt(id_vars=['mpg','qsec'])

In [ ]:
(
    ggplot(q_plot, aes(x='value', y='qsec')) +
        geom_point() +
        facet_wrap('variable', scales='free_x') + 
        theme(figure_size=(16,8))
)

In [ ]:
# Pairplots...(uncomment to see this neat trick that Plotnine doesn't support yet)
import seaborn as sns
sns.pairplot(mtcars)

👉 In the cells below, use either forward or backward selection to identify a model that fits this data and best explains the differences in a car's fuel efficiency. You can try various different models, see how they perform.

Remember, these aren't just abstract numbers in a vacuum. They are real data about real cars. Each variable has a meaning. Before just dropping it in your regression, as yourself what it means to explain the variance in `mpg` using that variable. Does that **methodological choice** make sense?

In [ ]:
model = smf.ols("mpg ~ wt + hp", data=mtcars)
results = model.fit()
results.summary()

In [ ]:

model = smf.ols("mpg ~ wt + disp + hp + wt:disp", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
mtcars.head(2)

In [ ]:

model = smf.ols("mpg ~ wt + disp + qsec:cyl", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
model = smf.ols("mpg ~ wt + disp + hp + wt:qsec", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
model = smf.ols("mpg ~ wt + disp + hp + cyl + wt:qsec", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
model = smf.ols("mpg ~ wt + disp + hp + cyl + cyl:wt", data=mtcars)
results = model.fit()
results.summary()

In [ ]:
model = smf.ols("mpg ~ wt + disp + hp + cyl + cyl:qsec", data=mtcars)
results = model.fit()
results.summary()

Paste the model that you think best explains the variance in fuel efficiency below 👉

In [ ]:
# this model has the highest R-squared value
# it also has the most significant p-values
model = smf.ols("mpg ~ wt + disp + hp + cyl + cyl:wt", data=mtcars)
results = model.fit()
results.summary()

# Next steps

Woohoo! We totally understand how engineers in the 1970s designed cars right? Our regressions answered all of our questions? Time to write an article?

...As you can probably tell, we're not quite there yet.

This analysis may have answered some questions that you had but raised others.

What have you learned about each of the following variables and their impact on fuel efficiency?

- cyl (Number of Cylinders)
- disp (Displacement cu.in.)
- hp (Gross horsepower)
- drat (Rear axle ratio)
- wt (Weight)
- qsec (1/4 mile time)
- vs (Engine type - V-shape or Straight)
- am (Transmission Type - Autmoatic or Manaul)
- gear (Number of gears in the transmission)
- carb (Number of carburetor barrels)

Game out what your next steps would be. If you have the opportunity to speak to a car expert (hint: you will!) and the opportunity to speak to a stats expert (hint: you will!) what would you ask them?

## Reporting

Car design has evolved significantly since this dataset was published. Your goal is to understand what made a car fuel efficient (or not) in the 1970s/80s. What were the tradeoffs that a car maker had to make? How did those tradeoffs impact fuel effienceny? How are these variables all related to one another?

# What are 3-5 questions you have for a domain expert?
- 1. What effect does the displacement of a car(in cu.in) have on its  over-all horse power(hp)?
- 2. How do we explain the relationship between a car's number of cylinders and its weight?
- 3. It is obvious a car's weight has a direct effect on its fuel efficiency. How do we explain this?

# What are 3-5 questions you have for a statistician?
- 
- 
-